* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", "sans-serif";
  line-height: 1;
  overflow-x: visible;
  scroll-behavior: smooth;
  background: rgb(22, 23, 34);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  jusitfy-content: center;
}
.section__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  jusitfy-content: center;
  background-image: url("bg-desktop-dark.jpg");
  height: 40vh;
  width: 100vw;
  background-size: cover;
}
.heading__box {
  margin-top: 2.4rem;
  display: flex;
  gap: 36rem;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
}
.section__heading {
  font-size: 4.8rem;
  color: white;
}
.heading__icon {
  font-size: 3.6rem;
  color: white;
}
.todo__form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d2e38;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 1.2rem;
  gap: 2.4rem;
  width: 35vw;
}
.todo__input {
  background: #2d2e38;
  border: none;
  outline: none;
  border-radius: 0px 0px 10px 10px;
  font-size: 2.4rem;
  color: #333;
  width: 35vw;
}
.todo__input:enabled {
  color: white;
}
.todo__input:enabled .todo__form {
  border: 1px solid white;
  transform: scale(1.1);
}
.heading__btn {
  border-radius: 1000rem;
  border: 1px solid white;
  padding: 1.2rem;
  font-size: 2.4rem;
  background: #2d2e38;
}
.stats__list--box {
  margin-top: 2.4rem;
  background: #2d2e38;
  border: none;
  outline: none;
  padding: 1.6rem;
  border-radius: 1.2rem;
  gap: 2.4rem;
  width: 35vw;
}
.stats__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 7.2rem;
}
.stats__filter {
  display: flex;
  gap: 2.4rem;
}
.stat {
  font-size: 1.4rem;
  color: #999;
}
.selected__filter {
  color: #74b3ce;
}
