:root {
  --main-color: rgb(22, 23, 34);
  --secondary-color: #2d2e38;
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", "sans-serif";
  line-height: 1;
  overflow-x: visible;
  scroll-behavior: smooth;
  background-color: var(--main-color);
  transition: all 1s;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  jusitfy-content: center;
}
/* HEADING */
.section__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  jusitfy-content: center;
  background-image: url("bg-desktop-dark.jpg");
  height: 40vh;
  width: 100vw;
  background-size: cover;
}
.heading__box {
  margin-top: 2.4rem;
  display: flex;
  gap: 36rem;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
}
.section__heading {
  font-size: 4.8rem;
  color: white;
}
.heading__icon {
  font-size: 3.6rem;
  color: white;
  position: absolute;
  top: 0.6rem;
  left: -3rem;
}
.hidden {
  display: none;
}
.heading__icon--box {
  position: relative;
  height: 100%;
  width: 100%;
}
.todo__form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 1.2rem;
  gap: 2.4rem;
  width: 35vw;
}
.todo__input {
  background: var(--secondary-color);
  border: none;
  outline: none;
  font-size: 2.4rem;
  color: #333;
  width: 35vw;
}
.todo__input:enabled {
  color: var(--text-color);
}
.todo__input:enabled .todo__form {
  border: 1px solid var(--text-color);
  transform: scale(1.1);
}
.heading__btn {
  border-radius: 1000rem;
  border: 1px solid var(--text-color);
  padding: 1.2rem;
  font-size: 2.4rem;
  background: var(--secondary-color);
}
/* FOOTER STATS AND FILTER */
.stats__list--box {
  background: var(--secondary-color);
  border: none;
  outline: none;
  padding: 1.6rem;
  border-radius: 1.2rem;
  gap: 2.4rem;
  width: 35vw;
  border-radius: 0px 0px 10px 10px;
}
.stats__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 7.2rem;
}
.stats__filter {
  display: flex;
  gap: 2.4rem;
}
.stat {
  font-size: 1.4rem;
  color: #999;
}
.selected__filter {
  color: #74b3ce;
}
/* TODO ITEM */
.todo__list--box {
  margin-top: 2.4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.strikethrough {
  background: red !important;
}
.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem;
  gap: 1.2rem;
  border-top: 1px solid #000;
  background: var(--secondary-color);
  overflow: auto;
}
.todo__label--checked {
  transition: all 1s;
  border-radius: 1000rem;
  border: 1px solid var(--text-color);
  padding: 1.2rem;
  font-size: 2.4rem;
  background: url(checkmark-outline.svg),
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) !important;
}
.todo__label {
  transition: all 1s;
  border-radius: 1000rem;
  border: 1px solid var(--text-color);
  padding: 1.2rem;
  font-size: 2.4rem;
  background: var(--secondary-color);
}
.todo__checkbox {
  display: none;
}
.todo__icon {
  font-size: 2.4rem;
  color: #880808;
  font-size: 3.6rem;
}
.todo__checkbox {
  border: 1px solid hsl(234, 11%, 52%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.todo__text {
  font-size: 2.4rem;
  color: var(--text-color);
}
.todo__list {
  border-bottom: 1px solid #000;
  width: 35vw;
}
.todo__item--box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
